<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.semi.update.mapper.Profile">

	<resultMap type="profileDto" id="resultMap">
		<result property="memberNo" column="MEMBER_NO" />
		<result property="id" column="ID" />
		<result property="memberRole" column="MEMBER_ROLE" />
		<result property="memberRegisterYn" column="MEMBER_REGISTER_YN" />
		<result property="memberName" column="MEMBER_NAME" />
		<result property="memberBirth" column="MEMBER_BIRTH" />
		<result property="memberHeight" column="MEMBER_HEIGHT" />
		<result property="memberWeight" column="MEMBER_WEIGHT" />
		<result property="memberAddr" column="MEMBER_ADDR" />
		<result property="memberPhone" column="MEMBER_PHONE" />
		<result property="memberOneIntro" column="MEMBER_ONE_INTRO" />
		<result property="memberCoin" column="MEMBER_COIN" />
		<result property="memberCareer" column="MEMBER_CAREER" />
		<result property="memberContent" column="MEMBER_CONTENT" />
		<result property="memberScore" column="MEMBER_SCORE" />
		<result property="memberGender" column="MEMBER_GENDER" />
		<result property="memberActivity" column="MEMBER_ACTIVITY" />
		<result property="memberBasal" column="MEMBER_BASAL" />
		<result property="memberBmi" column="MEMBER_BMI" />
	</resultMap>
	
	<!-- 멘토 -->
	<resultMap type="mentorDto" id="mentorResultMap">
		<result property="joinNo" column="JOIN_NO" />
		<result property="id" column="ID" />
		<result property="joinPw" column="JOIN_PW" />
		<result property="joinEmail" column="JOIN_EMAIL" />
		<result property="joinRole" column="JOIN_ROLE" />
		<result property="joinDate" column="JOIN_DATE" />
		<result property="joinJoined" column="JOIN_JOINED" />
		<result property="joinRegisterYn" column="JOIN_REGISTER_YN" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="memberName" column="MEMBER_NAME" />
		<result property="memberBirth" column="MEMBER_BIRTH" />
		<result property="memberHeight" column="MEMBER_HEIGHT" />
		<result property="memberWeight" column="MEMBER_WEIGHT" />
		<result property="memberAddr" column="MEMBER_ADDR" />
		<result property="memberPhone" column="MEMBER_PHONE" />
		<result property="memberOneIntro" column="MEMBER_ONE_INTRO" />
		<result property="memberCoin" column="MEMBER_COIN" />
		<result property="memberCareer" column="MEMBER_CAREER" />
		<result property="memberContent" column="MEMBER_CONTENT" />
		<result property="memberScore" column="MEMBER_SCORE" />
	</resultMap>
	
	<!-- 멘티 -->
<!-- 	<resultMap type="menteeDto" id="menteeResultMap"> -->
<!-- 	</resultMap> -->
	
	<!-- 멘토 SelectOne -->
	<select id="MentorSelectOne" parameterType="String" resultMap="mentorResultMap">
		SELECT
		JOIN_NO, ID, JOIN_PW, JOIN_EMAIL, JOIN_ROLE, JOIN_DATE, JOIN_JOINED, JOIN_REGISTER_YN,
		MEMBER_NO, MEMBER_NAME, MEMBER_BIRTH, MEMBER_HEIGHT, MEMBER_WEIGHT,
		MEMBER_ADDR, MEMBER_PHONE, MEMBER_ONE_INTRO, 
		MEMBER_COIN, MEMBER_CAREER, MEMBER_CONTENT, MEMBER_SCORE
		FROM MEMBER_JOIN JOIN MEMBER_PROFILE USING(ID)
		WHERE ID = #{id}
	</select>
	
	<!-- 멘토Dto로 insert -->
	<insert id="MentorProfileInsert" parameterType="mentorDto">
		INSERT INTO 
		MEMBER_PROFILE(MEMBER_NO, ID, MEMBER_ROLE, MEMBER_REGISTER_YN, MEMBER_NAME, MEMBER_BIRTH, MEMBER_HEIGHT, MEMBER_WEIGHT, MEMBER_ADDR, MEMBER_PHONE, MEMBER_ONE_INTRO, MEMBER_CAREER, MEMBER_CONTENT, MEMBER_SCORE) 
		VALUES(MEMBER_PROFILE_SEQ.NEXTVAL, #{id}, '멘토', 'Y', #{memberName}, #{memberBirth}, #{memberHeight}, #{memberWeight}, #{memberAddr}, #{memberPhone}, #{memberOneIntro}, #{memberCareer}, '프로필사진', 0)
	</insert>
	
	<!-- 멘토Dto로 Update -->
	<update id="MentorProfileUpdate" parameterType="mentorDto">
		UPDATE MEMBER_PROFILE 
		SET MEMBER_NAME = #{memberName}, MEMBER_BIRTH = #{memberBirth}, MEMBER_HEIGHT = #{memberHeight}, MEMBER_WEIGHT = #{memberWeight}, MEMBER_ADDR = #{memberAddr}, MEMBER_PHONE = #{memberPhone}, MEMBER_ONE_INTRO = #{memberOneIntro}, MEMBER_CAREER = #{memberCareer}, MEMBER_CONTENT = '프로필사진'
		WHERE ID = #{id}
	</update>

</mapper>
